# Файл конфигурации верхнего уровня
root = true

# Настройки по умолчанию для всех файлов
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
